.landingpage-container {
    background-image: url("http://caapi1.fyre.ibm.com:9300/bi/images/login.png");
    background-repeat: no-repeat;
    background-position: right;
    height: 90vh;
}

.login-button {
    width: 100%;
}