.welcome--container {
    background-image: url("https://www.ibm.com/account/ibmidutil/login-ui/img/illustration-final.svg");
    background-repeat: no-repeat;
    background-position: right;
    height: 90vh;
 
}